:root {
    --primary-text-color: white;
}

* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}


    
/* Navbar */
.navbar {
    background-color: #333;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.nav-item {
    margin-left: 1rem;
}

.nav-item a:hover {
    color: rgb(112, 112, 112);
}
.nav-item a {
    color: var(--primary-text-color);
    text-decoration: none;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

/*Content*/

/*Home*/

.homeSection {
    color: var(--primary-text-color);
    height: 100vh; 
    background-image: url(media/splashimg.png); 
    background-size: cover;   
}

.aboutSection {
    height: 100%;
    width: 100%;   
    background-color: #363d4b; 
    background-image: url(media/35514484_geometric_pattern_navy_background.jpg);
    background-size: cover;
}

.textContainer {
    color: var(--primary-text-color);
    background-color: #515152cc;
    margin: 100px 0 0 10%;
    width: 75%;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 1rem 1rem rgb(129, 129, 129);   
}

.whatisTitle {
    font-size: 5rem;
}

.whatIsSpan1, .whatIsSpan2 {
    font-size: 2rem;
}

.whatIsP1 {
    font-size: 2.5rem;
    margin-top: 35px;
}

.whatIsP2 {
    font-style: italic;
    font-size: 2rem;
    margin-top: 10px;
}

.whatIsP3 {
    font-size: 3rem;
    margin-top: 20px;
}

.videoContainer {
    display: flex;
    justify-content: center;
}

.aboutVideo {
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 30px;
}

.homeTitle,.homeParagraph {
    
    text-align: left;
    padding-left: 10%;
        
}

.homeTitle {
    padding-top: 100px;
    font-size: 8rem;
}

.homeParagraph {
    font-size: 4rem;
}

.btnContainer {
    
    margin-top: 100px;
    padding-left: 10%;
    
}

.btn {
    width: 150px;
    
    height: 50px;
    font-size: 1.25rem;
    border-radius: 10px;
    background-color: rgb(87, 129, 247);
    border: none;
    color: var(--primary-text-color);    
    
}

.btn:hover {
    background-color: rgb(45, 70, 138);
    border: 1px white solid;
}

/*ABOUT*/

.aboutBody {
    background-color: #2e2c4e;
    background-color: #464647;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%237f7f7f' fill-opacity='0.26'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: var(--primary-text-color);
    
}

.whatIs {
    width: 100%;
    height: 1000px;
    
    display: flex;
}

.historyTitle1, .historyTitle2, .historyTitle3, .historyTitle4 {
    font-size: 2rem;
}

.historyParagraph1a, .historyParagraph1b, .historyParagraph1c {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.historyParagraph2a, .historyParagraph2b {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.historyParagraph3a {
    font-size: 1.7rem;
    margin-top: 10px;
}

.historyParagraph4a, .historyParagraph4b {
    font-size: 1.7rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.pTitle {
    font-weight: 700;
}

.whatIsImage {
    
    background-size: cover;
    width: 50%;
    height: 750px;
    margin-left: -20%;
    margin-top: 7%;
    border-radius: 50px;
    
}

.middleageImg {
    background-image: url(media/history/alkindi.png);
    background-size: cover;
    width: 50%;
    height: 750px;
    margin-left: -20%;
    margin-top: 7%;
    border-radius: 50px;
    
}

.historyImage {
    background-image: url(media/history/hieroglyphics.png);
    background-size: cover;
    width: 50%;
    height: 750px;
    margin-left: 20%;
    margin-top: 7%;
    border-radius: 50px;
    
}

.centuryImg {
    background-image: url(media/history/turing.png);
    background-size: cover;
    width: 50%;
    height: 750px;
    margin-left: 20%;
    margin-top: 7%;
    border-radius: 50px;
    
}

.modernImg {
    background-image: url(media/history/aeskey.png);
    background-size: cover;
    width: 50%;
    height: 750px;
    margin-left: -20%;
    margin-top: 7%;
    border-radius: 50px;
}

.whatIsText {
    height: 500px;
    width: 450px;
    margin-left: 20%;
    margin-top: 10%;
    padding: 50px;
    z-index: 1;
    border-radius: 50px;
    background-color: azure;
    color: black;
    box-shadow: 1.5rem 1.5rem rgb(250, 192, 2);    
}

.history {
    width: 100%;
    height: 1000px;
    
    display: flex;
}



.historyText {
    height: 500px;
    width: 450px;
    margin-left: -20%;
    margin-top: 10%;
    padding: 50px;
    z-index: 1;
    border-radius: 50px;
    background-color: azure;
    color: black;
    box-shadow: 1.5rem 1.5rem rgb(250, 192, 2);    
}

/*MODERN*/
.modern > h2 {
    font-size: 4rem;
    text-align: center;
    margin: 100px;
}

.modernContainer {
    display: flex;
    justify-content: space-evenly;
}

.symmetric, .asymmetric {
    width: 45%;
    height: 100%;
    background-color: #7a7a7a;
    box-shadow: 1.5rem 1.5rem rgb(250, 192, 2);  
    margin-bottom: 100px;
    border-radius: 20px;
}

.symmetric > h3, .asymmetric > h3 {
    text-align: center;
    margin: 10px;
    font-size: 2rem;
}

.symmetric > p, .asymmetric > p {
    margin: 35px;
    font-size: 1.7rem;
}

/*Famous*/

.famousBody {
    background-color: #2e2c4e;
    background-color: #464647;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%237f7f7f' fill-opacity='0.26'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    
    color: var(--primary-text-color);
    
}

.historyTitle, .famousTitle {
    height: auto;
    padding-top: 100px;
    text-align: center;
    font-size: 5rem;
}

.skytale, .caesar, .zodiac, .enigma {
    
    width: 100%;
    
    display: flex;
    justify-content: center;
} 

.enigma {
    margin-bottom: 100px;
}


.skytaleText, .caesarText, .zodiacText, .enigmaText {
    width: 25%;
    height: 600px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 15%;
    background-color: #363d4b;
    border-radius: 5% 0% 0% 5%;
}

.skytaleText > p, .skytaleText > h2 , .caesarText > p, .caesarText > h2, .zodiacText > p, .zodiacText > h2, .enigmaText > p, .enigmaText > h2  {
    padding: 20px;
    
}

.skytaleImg, .caesarImg, .zodiacImg, .enigmaImg {
    width: 40%;
    height: 600px;
    
    margin-top: 15%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0% 5% 5% 0%;
}

.skytaleText, .skytaleImg {
    margin-top: 8%;
}

.famousTitle2 {
    font-size: 2.5rem;
}

.famousParagraph {
    font-size: 1.2rem;
}

/*LEARN*/

.learnBody {
    background-color: #2e2c4e;
    background-color: #464647;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%237f7f7f' fill-opacity='0.26'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    color: black;
    
}

.sectionContainer {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 6%;
    background-color: #2e2c4e;
    background-color: #464647;
background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%237f7f7f' fill-opacity='0.26'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
}

textarea, select, input {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

button {
    margin: 5px;
    padding: 5px 10px;
}

.videos {
    display: flex;
    justify-content: center;
    
}

.videos1 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.videos > iframe, .videos1 > iframe {
    
    margin: 25px;
    border-radius: 20px;
}

/*REFERENCES*/

.references {
    width: 100%;
    color: var(--primary-text-color);

    margin-top: 100px;
}




/*FOOTER*/
.footer {
    height: 50px;
    background-color: #333;
    margin-top: auto;
    text-align: center;

}

.footerText {
    padding-top: 12px;
    color: var(--primary-text-color);
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-end;
    }
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: right;
    }
    .nav-list.active {
        display: flex;
    }
    .nav-item {
        margin: 0.5rem 0;
    }
    .hamburger {
        display: flex;
    }
}