:root {
    --primary-text-color: white;
}

* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}


    
/* Navbar */
.navbar {
    background-color: #333;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.nav-item {
    margin-left: 1rem;
}

.nav-item a:hover {
    color: rgb(112, 112, 112);
}
.nav-item a {
    color: var(--primary-text-color);
    text-decoration: none;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

/*Content*/

/*Home*/

.homeSection {
    color: var(--primary-text-color);     
}

.homeBody {
    background-image: url(media/splashimg.png);
    background-size: cover;
}

.homeTitle,.homeParagraph {
    
    text-align: left;
    padding-left: 10%;
        
}

.homeTitle {
    padding-top: 100px;
    font-size: 8rem;
}

.homeParagraph {
    font-size: 4rem;
}

.btnContainer {
    
    margin-top: 100px;
    padding-left: 10%;
    
}

.btn {
    width: 150px;
    
    height: 50px;
    font-size: 1.25rem;
    border-radius: 10px;
    background-color: rgb(87, 129, 247);
    border: none;
    color: var(--primary-text-color);    
    
}

.btn:hover {
    background-color: rgb(45, 70, 138);
    border: 1px white solid;
}

/*ABOUT*/

.aboutBody {
    background-color: #18191e;
    background-image: none;
    
    color: var(--primary-text-color);
    
}

.whatIs {
    width: 100%;
    height: 1000px;
    
    display: flex;
}

.whatIsImage {
    background-image: url(media/crytographylaptop.jpg);
    background-size: cover;
    width: 50%;
    height: 750px;
    margin-left: -20%;
    margin-top: 7%;
    border-radius: 50px;
    
}

.whatIsText {
    height: 500px;
    width: 450px;
    margin-left: 20%;
    margin-top: 10%;
    padding: 50px;
    z-index: 1;
    border-radius: 50px;
    background-color: azure;
    color: black;
    box-shadow: 1.5rem 1.5rem rgb(250, 192, 2);    
}

.history {
    width: 100%;
    height: 1000px;
    
    display: flex;
}

.historyImage {
    background-image: url(media/LoneSpartan.png);
    background-size: cover;
    width: 50%;
    height: 750px;
    margin-left: 20%;
    margin-top: 7%;
    border-radius: 50px;
    
}

.historyText {
    height: 500px;
    width: 450px;
    margin-left: -20%;
    margin-top: 10%;
    padding: 50px;
    z-index: 1;
    border-radius: 50px;
    background-color: azure;
    color: black;
    box-shadow: 1.5rem 1.5rem rgb(250, 192, 2);    
}

/*Famous*/

.famousBody {
    background-color: #18191e;
    background-image: none;
    
    color: var(--primary-text-color);
    
}

.historyTitle, .famousTitle {
    height: auto;
    padding-top: 100px;
    text-align: center;
    font-size: 5rem;
}

.skytale, .caesar, .zodiac, .enigma {
    
    width: 100%;
    
    display: flex;
    justify-content: center;
} 


.skytaleText, .caesarText, .zodiacText, .enigmaText {
    width: 25%;
    height: 600px;
    
    margin-top: 15%;
    background-color: #363d4b;
    border-radius: 5% 0% 0% 5%;
}

.skytaleText > p, .skytaleText > h2 , .caesarText > p, .caesarText > h2, .zodiacText > p, .zodiacText > h2, .enigmaText > p, .enigmaText > h2  {
    padding: 50px;
}

.skytaleImg, .caesarImg, .zodiacImg, .enigmaImg {
    width: 40%;
    height: 600px;
    
    margin-top: 15%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0% 5% 5% 0%;
}

.skytaleText, .skytaleImg {
    margin-top: 8%;
}

/*LEARN*/

.learnBody {
    background-color: #18191e;
    background-image: none;
    display: flex;
    color: black;
    
}

.sectionContainer {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 6%;
    background-color: #18191e;;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
}

textarea, select, input {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

button {
    margin: 5px;
    padding: 5px 10px;
}


/*FOOTER*/
.footer {
    height: 50px;
    background-color: #333;
    margin-top: auto;
    text-align: center;

}

.footerText {
    padding-top: 12px;
    color: var(--primary-text-color);
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-end;
    }
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: right;
    }
    .nav-list.active {
        display: flex;
    }
    .nav-item {
        margin: 0.5rem 0;
    }
    .hamburger {
        display: flex;
    }
}